.list{
    width: 100%;
    height:24rem;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.list dl{
    width: 32.5%;
    height: auto;
    margin-right: 3px;
}
.list dl dd{
    width: 100%;
    height: 45px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}