.list{
    width: 100%;
    height: auto;
}
.list li {
    width: 100%;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fefefe;
}
.list li p{
    width: 115px;
    text-align: center;
    font-size: 12px;
}
.list li span{
    width: 2rem;
    height: 2rem;
}
.h5{
    width: 100%;
    padding: 0 10px;
    height: 2rem;
    background: #ccc;
    display: flex;
    line-height: 2rem;
    justify-content: space-between;
}

.h5 p{
    font-size: 16px;
}
.h5 em{
    width: auto;
    height: 1rem;
}
.dl{
    width: 100%;
    height: 7rem;
    display: flex;
    padding: 0 10px;
}
.dl dt{
    width: 6.5rem;
    height: 6.5rem;
    border:1px solid #ccc;
    margin-right: 10px;
}